# Database Queries

In [28]:
import sqlite3
import pandas as pd
db = sqlite3.connect('../data/food_inspections.db')
cur = db.cursor()

In [30]:
# U_1 Query
Q = '''
SELECT r.id, r.akaName, COUNT(ins.number) AS amount_of_violations
FROM (select * FROM Inspections) AS ins
INNER JOIN RestaurantInspections AS ri
ON ins.inspectionId = ri.inspectionId
INNER JOIN Restaurants AS r
ON r.id = ri.id
GROUP BY r.id
ORDER BY amount_of_violations DESC
'''
cur.execute(Q)
df = pd.read_sql_query(Q, db)
df.head()

                    id        akaName  amount_of_violations
0  6858875850335691760         SUBWAY                  5822
1  3685013796310758215  DUNKIN DONUTS                  3226
2  7010666959874199357     MCDONALD'S                  1692
3  4925505014519130655       7-ELEVEN                  1238
4  2288676560843121918      MCDONALDS                   899

In [10]:
db.close()