# **DATA EXPLORATION**
---
This notebook goes through some of the fields we want to clean. We hope to identify some patterns we can use to clean the data.

## **ESTABLISHMENT'S NAME**
---

In [11]:
import sqlite3
import pandas as pd

# dirty database
db_dirty = sqlite3.connect('../data/dirty_data/dirty_food_inspections.db')
cur = db_dirty.cursor()

# clean database
db_clean = sqlite3.connect('../data/clean_data/food_inspections.db')
cur = db_clean.cursor()

### **OVERVIEW**
In the dataset, the establishment's names have issues with consistency. Many establishments with the same name are spelled differently or have uncessary information attached to it's name.

### **Dirty Data**

The query shows the different forms the establishment **SUBWAY** can be respresented. Some differences include:

* **address information** (e.g. LINCOLN AVE SUBWAY on row 6)

* **number values** (e.g. SUBWAY #38326 on row 10)

* **capitolization differences** (e.g. Lakeview Subway on row 7)

In [99]:
Q = '''
SELECT estName as Name, COUNT(estName) as 'num of establishments'
    FROM Establishments
    WHERE Name LIKE '%subway%'
    GROUP BY Name
'''
cur.execute(Q)
df = pd.read_sql_query(Q, db_dirty)
df.head(15)

                            Name  num of establishments
0           ALWAYS OPEN - SUBWAY                      1
1                     C-K SUBWAY                      1
2                   CITGO SUBWAY                      1
3           DOWNTOWN BP & SUBWAY                      1
4       FULLWEST BP GAS & SUBWAY                      1
5                LALO SUBWAY INC                      1
6             LINCOLN AVE SUBWAY                      1
7                Lakeview Subway                      1
8             MADISON SUBWAY LLC                      1
9                         SUBWAY                    213
10                SUBWAY  #38326                      1
11                  SUBWAY  5183                      1
12                SUBWAY # 23333                      1
13                SUBWAY # 26771                      1
14  SUBWAY # 26817-309 W. MONROE                      1

### **AFTER**

With the use of Open Refine, the different spellings of **SUBWAY** can be grouped under one. 

The query now shows how **SUBWAY** is represented in the dataset *after* cleaning in Open Refine.

In [100]:
Q = '''
SELECT estName as Name, COUNT(estName) as 'num of establishments'
    FROM Establishments
    WHERE Name LIKE '%subway'
    GROUP BY Name
'''
cur.execute(Q)
df = pd.read_sql_query(Q, db_clean)
df.head(10)

     Name  num_of_establishments
0  SUBWAY                    287

## **VIOLATIONS**
---

In [101]:
import pandas as pd
import numpy as np

# import dirty data
food_ins_df = pd.read_csv("../data/dirty_data/Food_Inspections.csv")
food_ins_df.columns

Index(['Inspection ID', 'DBA Name', 'AKA Name', 'License #', 'Facility Type',
       'Risk', 'Address', 'City', 'State', 'Zip', 'Inspection Date',
       'Inspection Type', 'Results', 'Violations', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

### **OVERVIEW**
The Violations columns contains a lot of unstructured information. There are *three* distinct parts to each violation.

1. Health Code Violation Number

2. Violation Description

3. Comments

**EXAMPLE**

    8. sanitizing rinse for equipment and utensils:  clean, proper temperature, concentration, exposure time - comments: no dish washing facilities on site, (no three compartment sink, with grease trap, or dishmachine), instructed to provide, | 11. adequate number, convenient, accessible, designed, and maintained - comments:  no exposed hand sink for rear service area, instructed to provide, | 18. no evidence of rodent or insect outer openings protected/rodent proofed, a written log shall be maintained available to the inspectors - comments: no license pest control log book at this time of inspection, instructed to provide, upon next visit

### **WEIRD CASES**
1. Sometimes violations have pretext like 'Serious Violation <number>' (row 6) or 'Critical Violation <number>' (row 6)

2. A list of old violations can appear in the comments (row 6)

#### **ASSUMPTIONS**
1. We are able to convert violations text to lowercase and lose no important meaning

2. We are able to use Regex to pull the numbers. All numbers match the pattern r'\d+\.' (number followed by period)

3. We are able to split the Violations on the number found before

4. We are able to split the violations description from comments on the string '- comments:'

##### **ASSUMPTION 1**
Not sure how to test this, looking through the data though I think this assumption is good. There doesn't seem to be any reason some things are all caps and others are not. I'm guessing these entries are copied directly from some PDF that is in all caps (lots of legal documents are).

##### **ASSUMPTION 2**

**GOOD ASSUMPTION**: using the BELOW regex, we are able to capture numbers in each row

In [102]:
sec_assump_test = food_ins_df[['Violations']]
total_rows = sec_assump_test.shape[0]
sec_assump_test = sec_assump_test[sec_assump_test['Violations'].notna()]
print(f'There are {total_rows - sec_assump_test.shape[0]} null values for Violations')
print(f'rows left {sec_assump_test.shape[0]}')
num_reg = r'(?:^|\| )\d+\. '
contains_num = sec_assump_test['Violations'].str.contains(num_reg, regex=True)
print(f'Rows with numbers: {contains_num.sum()}')
assert sec_assump_test.shape[0] == contains_num.sum()

There are 30798 null values for Violations
rows left 123012
Rows with numbers: 123012

##### **ASSUMPTION 3**

**GOOD ASSUMPTION**: splitting on the regex creates the same number of violation numbers and violation text

In [103]:
num_reg = r'(?:^|\| )(\d+\. )'
third_assump_test = food_ins_df[food_ins_df['Violations'].notna()][['Violations']]
nums = third_assump_test['Violations'].str.extractall(num_reg)
third_assump_test['v_num'] = nums.groupby(level=0)[0].apply(list)
third_assump_test['list_violations'] = third_assump_test['Violations'].str.split(r'(?:^|\| )\d+\. ', regex=True).apply(lambda x: x[1:])
# get counts for the lists in each row for violations and violation numbers, ensure they are the same
num_violations = third_assump_test['list_violations'].apply(lambda x: len(x))
num_violations_nums = third_assump_test['v_num'].apply(lambda x: len(x))
assert num_violations.equals(num_violations_nums)
third_assump_test[1:1000].to_csv('test.csv')

##### **ASSUMPTION 4**

**GOOD ASSUMPTION**: with the previous preprocessing, all rows have comments

In [94]:
fourth_assump_test = third_assump_test.explode(['list_violations', 'v_num'])
fourth_assump_test['list_violations'] = fourth_assump_test['list_violations'].str.lower()
has_comments = fourth_assump_test['list_violations'].str.contains('- comments:')
assert fourth_assump_test.shape[0] == has_comments.sum()

### **CLEANED VIOLATIONS IN PRACTICE**
Below is a function that can be used to clean the violations.

In [95]:
def clean_violations(df: pd.DataFrame): 
  df['Violations'] = df['Violations'].str.lower()
  mask = df['Violations'].notna()
  # create violation number column
  num_reg = r'(?:^|\| )(\d+\. )'
  vio_nums = df.loc[mask, 'Violations'].str.extractall(num_reg)
  df.loc[mask, 'v_num'] = vio_nums.groupby(level=0)[0].apply(list)
  # create violation_temp
  split_reg = r'(?:^|\| )\d+\. '
  df.loc[mask, 'vio_temp'] = df.loc[mask, 'Violations'].str.split(split_reg, regex=True).apply(lambda x: x[1:])
  # split into individual rows for violations
  df = df.explode(['vio_temp', 'v_num']).reset_index(drop=True)
  exp_mask = df['Violations'].notna()
  # create comment and desc violation columns
  desc_split_reg = '- comments:'
  df.loc[exp_mask, 'v_comment'] = df.loc[exp_mask, 'vio_temp'].str.split(desc_split_reg).apply(lambda x: x[-1] if len(x) > 1 else np.nan)
  df.loc[exp_mask, 'v_desc'] = df.loc[exp_mask, 'vio_temp'].str.split(desc_split_reg).apply(lambda x: x[0])
  df = df.drop(columns=['vio_temp'])
  return df

clean_vios = clean_violations(food_ins_df)
print(f'rows: {clean_vios.shape[0]}')

rows: 599452

#### **VIOLATIONS IN THE DATABASE**
Additionally, the dirty database will show the three parts of the violation in one column; while the cleaned database will divide the three parts of the violations into three columns.

**BEFORE**

In [96]:
Q = '''
SELECT * 
    FROM Inspections
'''
cur.execute(Q)
df = pd.read_sql_query(Q, db_dirty)
df.head(10)

,inspecID,result,violations
0,2079132,Pass,None
1,2079129,Not Ready,None
2,2079125,Not Ready,8. SANITIZING RINSE FOR EQUIPMENT AND UTENSILS...
3,2079123,Pass,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR..."
4,2079105,Pass,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...
5,2079104,Fail,2. FACILITIES TO MAINTAIN PROPER TEMPERATURE -...
6,2079091,Fail,2. FACILITIES TO MAINTAIN PROPER TEMPERATURE -...
7,2079087,Fail,12. HAND WASHING FACILITIES: WITH SOAP AND SAN...
8,2079083,Pass,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...
9,2079036,Out of Business,None

**AFTER**

In [97]:
Q = '''
SELECT * 
    FROM Inspections
'''
cur.execute(Q)
df = pd.read_sql_query(Q, db_clean)
df.head(10)

,inspecID,result,number,comments,description
0,2079132,Pass,NaN,None,None
1,2079129,Not Ready,NaN,None,None
2,2079125,Not Ready,8.0,"no dish washing facilities on site, (no three...",sanitizing rinse for equipment and utensils: ...
3,2079125,Not Ready,11.0,"no exposed hand sink for rear service area, ...","adequate number, convenient, accessible, desig..."
4,2079125,Not Ready,18.0,no license pest control log book at this time...,no evidence of rodent or insect outer openings...
5,2079123,Pass,35.0,must provide overhead protection for coffee/t...,"walls, ceilings, attached equipment constructe..."
6,2079123,Pass,34.0,floors at coffee/tea stations must be made sm...,"floors: constructed per code, cleaned, good re..."
7,2079105,Pass,18.0,violation corrected,no evidence of rodent or insect outer openings...
8,2079105,Pass,31.0,inspector comments: must invert plastic wear ...,clean multi-use utensils and single service ar...
9,2079105,Pass,34.0,inspector comments: must clean debris from fl...,"floors: constructed per code, cleaned, good re..."

In [98]:
#db_dirty.close()
#db_clean.close()