# IF and FD Queries

This notebook checks the integrity constraints and fundemenatal dependecies in the cleaned database.

In [4]:
import sqlite3
import pandas as pd
db = sqlite3.connect('../data/clean_data/food_inspections.db')
cur = db.cursor()

In [5]:
# Table shows the amount of violations an establishment as a company/franchise has aquired. 
# Each row is the establishment as a company. 
# TODO: Example query that needs to be removed from here. This query is located in db_use_case_queries.db
Q = '''
SELECT est.estName as Estabishment_Name, COUNT(inspec.number) AS amount_of_violations
  FROM (select * FROM Inspections) AS inspec
  INNER JOIN EstablishmentInspections AS ei
  ON inspec.inspecID = ei.inspecID
  INNER JOIN Establishments AS est
  ON est.estID = ei.estID
  GROUP BY est.estName
  ORDER BY amount_of_violations DESC
'''
cur.execute(Q)
df = pd.read_sql_query(Q, db)
df.head(10)

         Estabishment_Name  amount_of_violations
0                   SUBWAY                  8850
1               MCDONALD'S                  6580
2           DUNKIN' DONUTS                  6437
3                 7-ELEVEN                  3864
4         JEWEL FOOD STORE                  2934
5                STARBUCKS                  2517
6              BURGER KING                  2185
7   HAROLD'S CHICKEN SHACK                  2172
8                 POPEYE'S                  1956
9  POTBELLY SANDWICH WORKS                  1838

In [6]:
db.close()