# Database Queries

This notebook checks the integrity constraints and fundemenatal dependecies in the cleaned database.

In [1]:
import sqlite3
import pandas as pd
db = sqlite3.connect('../data/food_inspections.db')
cur = db.cursor()

In [2]:
# 
Q = '''
SELECT r.akaName, COUNT(ins.number) AS amount_of_violations
  FROM (select * FROM Inspections) AS ins
  INNER JOIN RestaurantInspections AS ri
  ON ins.inspectionId = ri.inspectionId
  INNER JOIN Restaurants AS r
  ON r.id = ri.id
  GROUP BY r.id
  ORDER BY amount_of_violations DESC
'''
cur.execute(Q)
df = pd.read_sql_query(Q, db)
df.head(10)

OperationalError: no such table: RestaurantInspections

In [ ]:
# Query Sorted by Name of the Restaurant
Q = '''
SELECT r.akaName, COUNT(ins.number) AS amount_of_violations
  FROM (select * FROM Inspections) AS ins
  INNER JOIN RestaurantInspections AS ri
  ON ins.inspectionId = ri.inspectionId
  INNER JOIN Restaurants AS r
  ON r.id = ri.id
  GROUP BY r.akaName
  ORDER BY amount_of_violations DESC
'''
cur.execute(Q)
df = pd.read_sql_query(Q, db)
df.head(10)

                        akaName  amount_of_violations
0                        SUBWAY                  7029
1                          None                  6620
2                 DUNKIN DONUTS                  3667
3                    MCDONALD'S                  2306
4                      7-ELEVEN                  2062
5                     MCDONALDS                  1050
6                         CITGO                  1026
7                   BURGER KING                  1008
8  DUNKIN DONUTS/BASKIN ROBBINS                   893
9      SEE THRU CHINESE KITCHEN                   768

In [ ]:
db.close()