# Use Case Queries
This notebook runs the queries necessary to show adequate cleaning and support of our use case. 

Use Case: Which establishments, in D, have the most food inspection violations?

---
---

## Before Cleaning

In [153]:
import sqlite3
import pandas as pd
db = sqlite3.connect('../data/dirty_data/dirty_food_inspections.db')
cur = db.cursor()

---

Table shows the amount of violations an establishment has aquired. 

Each row is a specific establishent at a unique location.

In [154]:
Q = '''
SELECT est.estName as Establishment_Name, COUNT(inspec.violations) AS amount_of_violations
  FROM (select * FROM Inspections) AS inspec
  INNER JOIN EstablishmentInspections AS ei
  ON inspec.inspecID = ei.inspecID
  INNER JOIN Establishments AS est
  ON est.estID = ei.estID
  GROUP BY est.estID
  ORDER BY amount_of_violations DESC
'''
cur.execute(Q)
df = pd.read_sql_query(Q, db)
df.head(20)

                   Establishment_Name  amount_of_violations
0                              MACY'S                    68
1            THE GREAT AMERICAN BAGEL                    65
2           ILLINOIS SPORTSERVICE INC                    64
3          SPORTSERVICE SOLDIER FIELD                    62
4              HOST INTERNATIONAL INC                    58
5                           STARBUCKS                    57
6           CHICAGO DOWNTOWN MARRIOTT                    52
7   LEVY RESTAURANTS AT WRIGLEY FIELD                    48
8                          MANCHU WOK                    47
9              REGGIO'S PIZZA EXPRESS                    44
10                         MCDONALD'S                    40
11           Food 4 Less Midwest #552                    40
12           GHAREEB NAWAZ RESTAURANT                    39
13           JEWEL FOOD  STORE # 3345                    37
14                         McDONALD'S                    36
15                  AMERICAN AIRLINES                    36
16                        FOOD 4 LESS                    35
17                             IYANZE                    35
18       MARIANO'S FRESH MARKET #8503                    35
19               TAQUERIA EL RANCHITO                    35

---

Table shows the amount of violations an establishment has aquired.

Each row is a specific establishent as a company/franchise.

In [155]:
Q = '''
SELECT est.estName as Estabishment_Name, COUNT(inspec.violations) AS amount_of_violations
  FROM (select * FROM Inspections) AS inspec
  INNER JOIN EstablishmentInspections AS ei
  ON inspec.inspecID = ei.inspecID
  INNER JOIN Establishments AS est
  ON est.estID = ei.estID
  GROUP BY est.estName
  ORDER BY amount_of_violations DESC
'''
cur.execute(Q)
df = pd.read_sql_query(Q, db)
df.head(20)

               Estabishment_Name  amount_of_violations
0                         SUBWAY                  1858
1                  DUNKIN DONUTS                   968
2                     MCDONALD'S                   414
3                       7-ELEVEN                   314
4                      MCDONALDS                   241
5         CHIPOTLE MEXICAN GRILL                   227
6    POTBELLY SANDWICH WORKS LLC                   213
7             CORNER BAKERY CAFE                   185
8        POTBELLY SANDWICH WORKS                   176
9   DUNKIN DONUTS/BASKIN ROBBINS                   153
10             SUBWAY SANDWICHES                   142
11                   AU BON PAIN                   142
12                DOMINO'S PIZZA                   141
13        HAROLD'S CHICKEN SHACK                   136
14                       FRESHII                   130
15                           KFC                   128
16            WHOLE FOODS MARKET                   126
17      SEE THRU CHINESE KITCHEN                   126
18                        Subway                   119
19         SHARKS FISH & CHICKEN                   105

---

### Failed Inspections
Table only shows the violation counts when the establishment failes the inspection.

Each row is a specific establishment at a unique location.

In [156]:
Q = '''
SELECT est.estName as Establishment_Name, COUNT(inspec.violations) AS amount_of_violations
  FROM (select * 
        FROM Inspections 
        where result is not "Fail") AS inspec
  INNER JOIN EstablishmentInspections AS ei
  ON inspec.inspecID = ei.inspecID
  INNER JOIN Establishments AS est
  ON est.estID = ei.estID
  GROUP BY est.estID
  ORDER BY amount_of_violations DESC
'''
cur.execute(Q)
df = pd.read_sql_query(Q, db)
df.head(20)

                   Establishment_Name  amount_of_violations
0            THE GREAT AMERICAN BAGEL                    61
1          SPORTSERVICE SOLDIER FIELD                    61
2                              MACY'S                    59
3              HOST INTERNATIONAL INC                    55
4                           STARBUCKS                    52
5                          MANCHU WOK                    47
6   LEVY RESTAURANTS AT WRIGLEY FIELD                    46
7           CHICAGO DOWNTOWN MARRIOTT                    46
8           ILLINOIS SPORTSERVICE INC                    45
9              REGGIO'S PIZZA EXPRESS                    40
10                  THE UNITED CENTER                    34
11                         MCDONALD'S                    34
12           JEWEL FOOD  STORE # 3345                    32
13           GHAREEB NAWAZ RESTAURANT                    31
14                        FOOD 4 LESS                    29
15                  AMERICAN AIRLINES                    29
16           Food 4 Less Midwest #552                    28
17                          McDONALDS                    27
18       MARIANO'S FRESH MARKET #8503                    27
19          RENAISSANCE CHICAGO HOTEL                    27

---
---

## After Cleaning

In [157]:
import sqlite3
import pandas as pd
db = sqlite3.connect('../data/clean_data/food_inspections.db')
cur = db.cursor()

---

Table shows the amount of violations an establishment has aquired. 

Each row is a specific establishent at a unique location.

In [158]:
Q = '''
SELECT est.estName as Establishment_Name, COUNT(inspec.number) AS amount_of_violations
  FROM (select * FROM Inspections) AS inspec
  INNER JOIN EstablishmentInspections AS ei
  ON inspec.inspecID = ei.inspecID
  INNER JOIN Establishments AS est
  ON est.estID = ei.estID
  GROUP BY est.estID
  ORDER BY amount_of_violations DESC
'''
cur.execute(Q)
df = pd.read_sql_query(Q, db)
df.head(20)

                     Establishment_Name  amount_of_violations
0                HOST INTERNATIONAL INC                   581
1                            MCDONALD'S                   375
2                      LEVY RESTAURANTS                   340
3           ILLINOIS SPORT SERVICE INC.                   337
4                             STARBUCKS                   293
5                  TAQUERIA EL RANCHITO                   288
6              ST. REST COUNTRY KITCHEN                   278
7                                MACY'S                   276
8                             JIMMY G'S                   259
9              GHAREEB NAWAZ RESTAURANT                   257
10                          UNITED CLUB                   256
11                               IYANZE                   230
12                 NICKY'S CHINESE FOOD                   228
13                   PHOENIX RESTAURANT                   227
14       SHERATON CHICAGO HOTEL & TOWER                   224
15  CHICAGO'S HOME OF CHICKEN & WAFFLES                   219
16                  FOOD 4 LESS MIDWEST                   214
17                          FOOD 4 LESS                   213
18                NUEVO LEON RESTAURANT                   211
19                              CHILI'S                   210

---

Table shows the amount of violations an establishment as a company/franchise has aquired. 

Each row is the establishment as a company.

In [159]:
Q = '''
SELECT est.estName as Estabishment_Name, COUNT(inspec.number) AS amount_of_violations
  FROM (select * FROM Inspections) AS inspec
  INNER JOIN EstablishmentInspections AS ei
  ON inspec.inspecID = ei.inspecID
  INNER JOIN Establishments AS est
  ON est.estID = ei.estID
  GROUP BY est.estName
  ORDER BY amount_of_violations DESC
'''
cur.execute(Q)
df = pd.read_sql_query(Q, db)
df.head(20)

           Estabishment_Name  amount_of_violations
0                     SUBWAY                  8850
1                 MCDONALD'S                  6580
2             DUNKIN' DONUTS                  6437
3                   7-ELEVEN                  3864
4           JEWEL FOOD STORE                  2934
5                  STARBUCKS                  2517
6                BURGER KING                  2185
7     HAROLD'S CHICKEN SHACK                  2172
8                   POPEYE'S                  1956
9    POTBELLY SANDWICH WORKS                  1838
10                 CITGO INC                  1743
11                       KFC                  1697
12                 WALGREENS                  1362
13              JIMMY JOHN'S                  1358
14  SEE THRU CHINESE KITCHEN                  1351
15               ARAMARK CO.                  1278
16          CHURCH'S CHICKEN                  1158
17                PETE'S INC                  1140
18                  CHIPOTLE                  1071
19            ONE STOP, INC.                   891

---

### Failed Inspections

Tables only show the violation counts when the establishment failes the inspection.

Each row is a specific establishment at a unique location.

In [160]:
# Table shows the amount of violations an establishment has aquired when they have also failed the inspection. 
# Each row is specific establishment at a unique locations.
Q = '''
SELECT est.estName as Establishment_Name, COUNT(inspec.number) AS amount_of_violations
  FROM (select * 
        FROM Inspections 
        where result is not "Fail") AS inspec
  INNER JOIN EstablishmentInspections AS ei
  ON inspec.inspecID = ei.inspecID
  INNER JOIN Establishments AS est
  ON est.estID = ei.estID
  GROUP BY est.estID
  ORDER BY amount_of_violations DESC
'''
cur.execute(Q)
df = pd.read_sql_query(Q, db)
df.head(20)

                Establishment_Name  amount_of_violations
0           HOST INTERNATIONAL INC                   513
1                       MCDONALD'S                   272
2                 LEVY RESTAURANTS                   261
3                        STARBUCKS                   245
4                           MACY'S                   230
5      ILLINOIS SPORT SERVICE INC.                   229
6         GHAREEB NAWAZ RESTAURANT                   187
7             TAQUERIA EL RANCHITO                   184
8         THE GREAT AMERICAN BAGEL                   181
9                      FOOD 4 LESS                   166
10                     UNITED CLUB                   163
11                         CHILI'S                   161
12   WESTIN RIVER NORTH CHGO HOTEL                   154
13  SHERATON CHICAGO HOTEL & TOWER                   148
14                      MCDONALD'S                   147
15             FOOD 4 LESS MIDWEST                   145
16            NICKY'S CHINESE FOOD                   143
17       CHICAGO DOWNTOWN MARRIOTT                   142
18        ST. REST COUNTRY KITCHEN                   136
19          REGGIO'S PIZZA EXPRESS                   132

---

Table shows the amount of violations an establishment as a company/franchise has aquired when they have also failed the inspection.  

Each row is the establishment as a company.

In [161]:
Q = '''
SELECT est.estName as Estabishment_Name, COUNT(inspec.number) AS amount_of_violations
  FROM (select * 
        FROM Inspections
        where result is "Fail") AS inspec
  INNER JOIN EstablishmentInspections AS ei
  ON inspec.inspecID = ei.inspecID
  INNER JOIN Establishments AS est
  ON est.estID = ei.estID
  GROUP BY est.estName
  ORDER BY amount_of_violations DESC
'''
cur.execute(Q)
df = pd.read_sql_query(Q, db)
df.head(20)

           Estabishment_Name  amount_of_violations
0                     SUBWAY                  1762
1                 MCDONALD'S                  1598
2             DUNKIN' DONUTS                  1467
3                   7-ELEVEN                   837
4     HAROLD'S CHICKEN SHACK                   722
5                  CITGO INC                   694
6           JEWEL FOOD STORE                   679
7                BURGER KING                   535
8                   POPEYE'S                   456
9    POTBELLY SANDWICH WORKS                   438
10            ONE STOP, INC.                   427
11                 WALGREENS                   426
12                       KFC                   424
13                 STARBUCKS                   420
14          CHURCH'S CHICKEN                   362
15               ARAMARK CO.                   353
16  SEE THRU CHINESE KITCHEN                   348
17                PETE'S INC                   284
18              JIMMY JOHN'S                   284
19                  CHIPOTLE                   272

---

In [162]:
db.close()

---